/* Custom styles. */

/* Variable functions */
:root {
  --bgColor: #282828;
  --hamburgerColor: #292929;
  --buttonColor: royalblue;
  --headerColor: mediumpurple;
  --mainColor: mediumaquamarine;
  --textColors: white;
}

body {
  background-color: var(--bgColor);
  color: #f8f9f3;
  margin: 5%;
}

.header-img,
h1 {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.header-img {
  width: 50vw;
}

nav {
  padding: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

header,
nav {
  background-color: #323232;
}

a {
  color: #f8f9f3;
  text-decoration: none;
}

a:hover {
  color: hotpink;
}
