/* Custom styles. */

/* Variable functions */
:root {
  --bgColor: #3f3f74;
  --hamburgerColor: #292952;
  --buttonColor: royalblue;
  --headerColor: mediumpurple;
  --mainColor: mediumaquamarine;
  --textColors: white;
}

body {
  background-color: var(--bgColor);
  color: white;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

img.header-img {
  padding-top: 2%;
  width: 50vw;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

a {
  color: white;
}

a:hover {
  color: hotpink;
}

img.userIcon {
  width: 4vw;
}
