/* In this file you can add your custom styles. */

body {
  background-color: rgb(20, 20, 20);
  color: white;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

img.header-img {
  padding-top: 2%;
  width: 50vw;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

a {
  color: white;
}

a:hover {
  color: hotpink;
}

img.userIcon {
  width: 4vw;
}
