/* Custom styles. */

/* Variable functions */
:root {
  --bgColor: #2e2e2e;
  --sectionColor: #292929;
  --textColor2: #333366;
  --textColors: #f8f9f3;
}

body {
  background-color: var(--bgColor);
  color: var(--textColors);
}

div.card {
  color: black;
}

.post-title-link {
  color: var(--textColor2);
}

.post-author {
  color: var(--textColor2);
}

.smiley {
  max-width: 20px;
  width: 3vw;
}

.profile-picture {
  width: 10vw;
}

.navatar {
  border-radius: 50%;
  width: 2vw;
}

.like-icon {
  max-width: 20px;
  width: 3vw;
}

/* Button in index for smiles. */
.smile {
  background-color: white;
  border: none;
  outline: none;
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
}

.footerIcons {
  max-width: 50px;
  min-width: 40px;
  width: 4vw;
}
