/* Custom styles. */

/* Variable functions */
:root {
  --bgColor: #2e2e2e;
  --sectionColor: #292929;
  --textColor2: #333366;
  --textColors: #f8f9f3;
}

body {
  background-color: var(--bgColor);
  color: var(--textColors);
}

/* Index page H1. */
.main-welcome {
  text-align: center;
}

/* For articles description text to override the set color variable.*/
div.card {
  color: black;
}

.tiny-text {
  color: darkgreen;
  text-shadow: 4px 4px 8px blue;
}

.post-title-link {
  color: var(--textColor2);
}

.smiley {
  max-width: 20px;
  width: 3vw;
}

.reply-card {
  left: 50px;
}

.profile-picture {
  height: auto;
  max-width: 300px;
  padding: 3%;
  width: 30vw;
}

.author-tag {
  margin: 1%;
  padding: 0.5%;
}

.comment-by {
  color: deeppink;
}

.reply-by {
  color: royalblue;
}

/* Users avatar in the nav. */
.navatar {
  border-radius: 50%;
  width: 3vw;
}

.like-icon {
  max-width: 20px;
  width: 3vw;
}

/* Text where author is mentioned. */
.bg-dark {
  color: var(--textColors);
}

/* Button in index for smiles. */
.smile {
  background-color: white;
  border: none;
  outline: none;
}

.edit-delete {
  margin: 1%;
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
}

.footerIcons {
  max-width: 50px;
  min-width: 40px;
  width: 4vw;
}
