/* Different formats for optimal browser coverage. */

@font-face {
  font-family: "JetBrains Mono";
  src: local("/public/resources/fonts/jetbrainsmono/JetBrainsMono-Regular.eot")
      format("embedded-opentype"),
    local("/public/resources/fonts/jetbrainsmono/JetBrainsMono-Regular.otf")
      format("opentype"),
    local("/public/resources/fonts/jetbrainsmono/JetBrainsMono-Regular.ttf")
      format("truetype"),
    local("/public/resources/fonts/jetbrainsmono/JetBrainsMono-Regular.woff")
      format("woff"),
    local("/public/resources/fonts/jetbrainsmono/JetBrainsMono-Regular.woff2")
      format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* Applies the same font to all the text on the site, plus fallback fonts. */
h1 {
  font-family: "JetBrains Mono", Verdana, Arial, Helvetica, sans-serif;
}

body {
  font-family: "JetBrains Mono", Verdana, Arial, Helvetica, sans-serif;
}
